/***** Document *****/

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

/***** Map *****/

#map {
    height: 100%;
    width: 100%;
}

/***** Aside *****/

aside {
    background-color: white;
    border-radius: 3px;
    bottom: 80px;
    box-shadow: 0 0 10px 2px #000;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 500px;
}

/***** Aside tabs *****/

aside .tabs{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

aside .tabs > .tab {
    float: left;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    text-align: center;
}

aside .tabs > .tab:not(.active) {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 10px 3px #555 ;
    color: #555;
    cursor: pointer;
}

aside .tabs > .tab.active {
    background-color: white;
    color: black;
    cursor: default;
}

aside .tabs > .tab:first-child {
    border-top-left-radius: 3px;
}

aside .tabs > .tab:last-child {
    border-top-right-radius: 3px;
}

aside .tabs.oneTab > .tab {
    width: 100%;
}

aside .tabs.twoTabs > .tab {
    width: 50%;
}

aside .tabs.threeTabs > .tab {
    width: 33%;
}

aside .tabs.threeTabs > .tab:last-child {
    width: 34%;
}

/***** Aside content *****/

aside > .content {
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    height: calc(100% - 50px);
    overflow: auto;
    padding: 15px;
    position: relative;
    width: 100%;
}

aside > .content p {
    margin: 20px 0 10px;
}

aside .finalButtons {
    margin-top: 10px;
}

/***** Aside progress indicator *****/

aside > .progressIndicator {
    background-color: white;
    /*bottom: 0;*/
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    /*right: 0;*/
    top: 0;
    width: 100%;
}

aside > .progressIndicator > img {
    left: 50%;
    position: absolute;
    top: 50%;
}

/***** Bus lines tiles *****/

.busLinesTiles {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.busLinesTiles > li {
    background-color: #999;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.busLinesTiles > li.active {
    background-color: rgba(204, 24, 30, 1);
}

/***** Day of week switch *****/

.dayOfWeek {
    cursor: pointer;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.dayOfWeek > li {
    border-bottom: 1px solid #999;
    color: #999;
    float: left;
    font-weight: bold;
    text-align: center;
    width: 33%;
}

.dayOfWeek > li.active {
    border-bottom: 3px solid rgba(204, 24, 30, 1);
    color: rgba(204, 24, 30, 1);
}

/***** Time table *****/

.timeTable {
    border-collapse: separate;
    clear: both;
    padding-top: 20px;
    width: 100%;
}

.timeTable > tbody > tr > td {
    border-color:#AAA;
    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 1px;
    border-right-width: 1px;
    
}

.timeTable > tbody > tr > td {
    padding: 10px;
    vertical-align: top;
}

.timeTable > tbody > tr > td:first-child {
    border-bottom-left-radius: 4px;
    border-right-width: 0;
    border-top-left-radius: 4px;
    width: 100%;
}

.timeTable > tbody > tr > td:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.timeTable .busStops td {
    padding: 0 10px;
}

.timeTable .busStops td:first-child {
    cursor: default;
    text-align: right;
}

.timeTable .busStops td:first-child input {
    text-align: right;
    width: 60px;
}

.timeTable .busStops td:last-child {
    cursor: pointer;
    width: 100%;
}

.timeTable .busStops td.active {
    font-weight: bold;
}

.timeTable .departureTimes td:last-child {
    padding: 2px;
    white-space: nowrap;
}

.timeTable .departureTimes td div {
    border-radius: 2px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.timeTable .departureTimes td:first-child div {
    background-color: rgba(204, 24, 30, 1);
    cursor: default;
}

.timeTable .departureTimes td:not(:first-child) div {
    background-color: #999;
    cursor: pointer;
}

.timeTable .departureTimes td:not(:first-child) div > span:last-child:hover {
    color: #333;
}

.timeTable .departureTimes td:not(:first-child) div.active {
    background-color: #333;
}

/***** New departure time *****/

.newDepartureTime {
    margin: 10px 0;
    width: 100%;
}

.newDepartureTime input {
    width: 116px;
}

/***** Bus lines list *****/

.unselectableList > div {
    border: 1px solid #ADADAD;
    border-radius: 7px;
    margin: 10px 0;
    padding: 10px 10px;
}

.unselectableList > div > p {
    margin: 0;
    margin-bottom: 5px;
}

.unselectableList > div > p:first-child {
    font-weight: bold;
    text-transform:uppercase;
}

/***** Bus stops and bus routes list *****/

.selectableList > div {
    border: 1px solid #ADADAD;
    border-radius: 7px;
    display: table;
    margin: 10px 0;
    overflow: auto;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.selectableList > div > div {
    display: table-cell;
}

.selectableList > div > div:nth-child(1) {
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.selectableList > div > div:nth-child(2) > p {
    margin: 0;
    margin-bottom: 3px;
}

.selectableList > div > div:nth-child(2) > p:first-child {
    font-weight: bold;
    text-transform:uppercase;
}

.selectableList > div:hover, .selectableList > div.active {
    background-color: #ebebeb;/*rgba(204, 24, 30, 0.8);*/
    /*color: white;*/
}

.selectableList > div > div:nth-child(2) table {
    margin-bottom: 3px;
}

.selectableList > div > div:nth-child(2) table td:first-child input {
    width: 75px;
}

.selectableList > div > div:nth-child(2) table td:last-child, .selectableList > div > div:nth-child(2) table td:last-child input {
    width: 100%;
}

.selectableList + input {
    display: block;
    margin: 10px 0;
}

/***** Footer ****/

footer {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    border-top: 3px solid #999;
    height: 70px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    right: 0;
}

footer > div {
    display: inline-block;
    line-height: 70px;
    padding: 0 20px 0;
}

footer > .logoDescription, footer > .dspLogo {
    float: left;
}

footer > .logoDescription > div:first-child {
    color: rgb(204, 24, 30);
    font-size: 24px;
    font-weight: bold;
    line-height: initial;
    padding-top: 10px;
    padding-bottom: 8px;
}

footer > .logoDescription > div:last-child {
    color: black;
    font-size: 12px;
    line-height: initial;
}

footer > .dspLogo > img {
    height: 50px;
}

footer > .copyright {
    color: black;
    float: right;
}

footer > .lastUpdate {
    line-height: initial;
    padding-top: 10px;
}

footer > .lastUpdate > div {
    font-size: 18px;
    line-height: 26px;
}