/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    float: left;
    height: 100%;
    width: 70%;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    float: right;
}

nav > ul > li:first-child {
    float: left;
}

nav > ul > li > a {
    display: block;
    font-weight: bold;
}

nav > ul > li > a:hover, nav > ul > li > a.active {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

nav > ul > li:not(:first-child) > a {
    color: white;
    padding: 25px;
}

nav > ul > li:first-child > a {
    color: darkorange;
    font-size: 25px;
    padding: 17px;
}

#aside {
    float: left;
    padding: 10px;
    width: calc(30% - 20px);
}