<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="map"></div>

    <aside>
        <div id="tabs">
            <!-- ko if: isStarted() === true -->
            <ul class="tabs" data-bind="css: { oneTab: selectedViewGroup().views.length == 1, twoTabs: selectedViewGroup().views.length == 2, threeTabs: selectedViewGroup().views.length == 3 }, foreach: selectedViewGroup().views">
                <li class="tab" data-bind="click: function() { $root.selectedViewGroup().selectedView($data); }, css: { active: $root.selectedViewGroup().selectedView() == $data }, text: $data.title"></li>
            </ul>
            <!-- /ko -->
        </div>

        <div class="content">
            @RenderBody()
        </div>
    </aside>

    <footer>
        <div class="logoDescription">
            <div>GłogowskiBUS</div>
            <div>ROZKŁAD JAZDY AUTOBUSÓW MIEJSKICH W GŁOGOWIE</div>
        </div>
        <div class="dspLogo">
            <img src="~/Content/Images/dsp2017-2.png" />
        </div>
        <div class="copyright">
            Copyright &copy; 2017 Kamil Dzierlęga. All rights reserved.
        </div>
        <div class="lastUpdate">
            <div>Ostatnia aktualizacja rozkładu:</div>
            <div>30 maja 2017</div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD44zRKQDHDs7dMdwhXP7a8XjJzwuuFNJA&callback=initMap" async defer></script>

    <script src="~/Scripts/Maps.js"></script>
    <script src="~/Scripts/MarkerIcons.js"></script>
    <script src="~/Scripts/ServerTime.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/GoogleMapsDirections.js"></script>
    <script src="~/Scripts/Engine.js"></script>

    <script src="~/Scripts/ViewModels/BusStop.js"></script>
    <script src="~/Scripts/ViewModels/Point.js"></script>
    <script src="~/Scripts/ViewModels/DepartureTime.js"></script>
    <script src="~/Scripts/ViewModels/Route.js"></script>
    <script src="~/Scripts/ViewModels/BusLine.js"></script>
    <script src="~/Scripts/ViewModels/Bus.js"></script>

    


    <script src="~/Scripts/TimeTableViewModel.js"></script>
    <script src="~/Scripts/FindRouteViewModel.js"></script>
    <script src="~/Scripts/AdministrationContext.js"></script>

    <script src="~/Scripts/NavigationViewModel.js"></script>
    <script src="~/Scripts/BusStopsListViewModel.js"></script>
    <script src="~/Scripts/BusLinesListViewModel.js"></script>
    <script src="~/Scripts/AddBusStopViewModel.js"></script>
    <script src="~/Scripts/EditBusStopViewModel.js"></script>
    <script src="~/Scripts/DeleteBusStopViewModel.js"></script>
    <script src="~/Scripts/AddBusLineViewModel.js"></script>
    <script src="~/Scripts/EditBusLineViewModel.js"></script>
    
    

    @*<script src="~/Scripts/CreateOrEditBusLineContext.js"></script>*@
</body>
</html>