<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="map"></div>

    <aside>
        <ul class="tabs" data-bind="css: { oneTab: tabs.length == 1, twoTabs: tabs.length == 2, threeTabs: tabs.length == 3 }, foreach: tabs">
            <li class="tab" data-bind="click: function() { $root.selectedTab($data); }, css: { active: $root.selectedTab() == $data }, text: $data"></li>
        </ul>

        <div class="content">
            @RenderBody()
        </div>
    </aside>

    <footer>
        <div class="logoDescription">
            <div>GłogowskiBUS</div>
            <div>ROZKŁAD JAZDY AUTOBUSÓW MIEJSKICH W GŁOGOWIE</div>
        </div>
        <div class="dspLogo">
            <img src="~/Content/Images/dsp2017-2.png" />
        </div>
        <div class="copyright">
            Copyright &copy; 2017 Kamil Dzierlęga. All rights reserved.
        </div>
        <div class="lastUpdate">
            <div>Ostatnia aktualizacja rozkładu:</div>
            <div>30 maja 2017</div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD44zRKQDHDs7dMdwhXP7a8XjJzwuuFNJA&callback=initMap" async defer></script>
    <script src="~/Scripts/Maps.js"></script>
    <script src="~/Scripts/MarkerIcons.js"></script>
    <script src="~/Scripts/ServerTime.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/BusStops.js"></script>
    <script src="~/Scripts/BusLines.js"></script>
    <script src="~/Scripts/Buses.js"></script>
    <script src="~/Scripts/TimeTableContext.js"></script>
    <script src="~/Scripts/AdminIndexContext.js"></script>
    <script src="~/Scripts/CreateOrEditBusLineContext.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
</body>
</html>