<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        #map {
            float: initial;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    @*<nav>
        <ul>
            <li><a href='@Url.Action("Index")'>GłogowskiBus</a></li>
            <li><a href="#">ZALOGUJ</a></li><li><a href="#" data-bind="click: function() { view('TimeTable'); }">ROZKŁAD JAZDY</a></li><li><a href="#">WYSZUKAJ POŁĄCZENIE</a></li><li><a class='@(ViewBag.Title == "Autobusy i przystanki" ? "active" : null)' href='#@*' data-bind="click: function() { view('Navigation'); }">AUTOBUSY I PRZYSTANKI</a></li>
        </ul>
    </nav>*@

    <aside>
        <div class="tab leftTab" data-bind="click: function(data, event) { tab('ROZKŁAD JAZDY'); }, css: { active: tab() == 'ROZKŁAD JAZDY' }">
            ROZKŁAD JAZDY
            <div class="mask">
            </div>
        </div>
        
        <div class="tab rightTab" data-bind="click: function(data, event) { tab('ZNAJDŹ POŁĄCZENIE'); }, css: { active: tab() == 'ZNAJDŹ POŁĄCZENIE' }">
            ZNAJDŹ POŁĄCZENIE
            <div class="mask">
            </div>
        </div>
        
        <div class="content">
            @RenderBody()
        </div>
    </aside>

    <footer>
        <div class="logoDescription">
            <div>GłogowskiBUS</div>
            <div>ROZKŁAD JAZDY AUTOBUSÓW MIEJSKICH W GŁOGOWIE</div>
        </div>
        <div class="dspLogo">
            <img src="~/Content/Images/dsp2017-2.png" />
        </div>
        <div class="copyright">
            Copyright &copy; 2017 Kamil Dzierlęga. All rights reserved.
        </div>
        <div class="lastUpdate">
            <div>Ostatnia aktualizacja rozkładu:</div>
            <div>30 maja 2017</div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD44zRKQDHDs7dMdwhXP7a8XjJzwuuFNJA&callback=initMap" async defer></script>
    <script src="~/Scripts/MarkerIcons.js"></script>
    <script src="~/Scripts/Maps.js"></script>
    <script src="~/Scripts/Buses.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
</body>
</html>