@model GlogowskiBus.UI.Models.HomeBusPositionsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ko if: selectedView().name == 'List' && selectedView().selectedTab() == 'PRZYSTANKI' -->
    <div id="busStopsList">
        <div class="itemsList" data-bind="foreach: busStops.toArray()">
            <div data-bind="click: function() { $root.selectedBusStop($data); return true; }, css: { active: $root.selectedBusStop() == $data }">
                <div>
                    <input data-bind="checked: $root.selectedBusStop() == $data, checkedValue: true" type="radio" />
                </div>
                <div>
                    <p data-bind="text: 'PRZYSTANEK #' + id"></p>
                    <p data-bind="text: 'Nazwa: ' + name()"></p>
                    <p data-bind="text: 'Pozycja: ' + latitude() + ', ' + longitude()"></p>
                    <p data-bind="text: 'Linie: ' + (getAllBusNumbers().join(', ') || '-')"></p>
                    <button class="btn btn-xs btn-default" data-bind="click: function() { $root.busStopsListEditBtnClick($data); }">EDYTUJ</button>
                    <button class="btn btn-xs btn-default" data-bind="click: function() { $root.busStopsListDeleteBtnClick($data); }">USUŃ</button>
                </div>
            </div>
        </div>
        <button class="btn btn-default" data-bind="click: function() { busStopsListAddBtnClick(); }">DODAJ</button>
    </div>
<!-- /ko -->

<!-- ko if: selectedView().name == 'List' && selectedView().selectedTab() == 'LINIE' -->
    <div id="busLinesList">
        <div data-bind="foreach: busLines.toArray()">
            <div>
                <p data-bind="text: 'LINIA #' + id"></p>
                <p data-bind="text: 'Numer autobusu: ' + busNumber()"></p>
                <div class="itemsList" data-bind="foreach: $data.routes.toArray()">
                    <div data-bind="click: function() { $root.selectedRoute($data); return true; }, css: { active: $root.selectedRoute() == $data }">
                        <div>
                            <input data-bind="checked: $root.selectedRoute() == $data, checkedValue: true" type="radio" />
                        </div>
                        <div>
                            <p data-bind="text: 'TRASA #' + id"></p>
                            <!-- ko if: points.getFirst().busStop() && points.getLast().busStop() -->
                                <p data-bind="text: points.getFirst().busStop().name() + ' - ' + points.getLast().busStop().name()"></p>
                            <!-- /ko -->
                            <p data-bind="text: indexMark() + ' - ' + details(), visible: indexMark() && details()"></p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-xs btn-default">EDYTUJ</button>
                <button class="btn btn-xs btn-default">USUŃ</button>
            </div>
        </div>
        <button class="btn btn-default" data-bind="click: function() { busLinesListAddBtnClick(); }">DODAJ</button>
    </div>
<!-- /ko -->

<!-- ko if: selectedView().name == 'AddBusStop' && selectedView().selectedTab() == 'DODAWANIE PRZYSTANKU' -->
    <div id="addBusStop">
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: selectedBusStop().name" />

        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().latitude" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().longitude" />
                </td>
            </tr>
        </table>

        <button class="btn btn-default" data-bind="click: function() { addBusStopAddBtnClick(); }">DODAJ</button>
        <button class="btn btn-default" data-bind="click: function() { addBusStopCancelBtnClick(); }">ANULUJ</button>
    </div>
<!-- /ko -->

<!-- ko if: selectedView().name == 'EditBusStop' && selectedView().selectedTab() == 'EDYTOWANIE PRZYSTANKU' -->
    <div id="editBusStop">
        <p data-bind="text: 'PRZYSTANEK #' + selectedBusStop().id"></p>
    
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: selectedBusStop().name" />

        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().latitude" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().longitude" />
                </td>
            </tr>
        </table>

        <button class="btn btn-default" data-bind="click: function() { editBusStopEditBtnClick(); }">EDYTUJ</button>
        <button class="btn btn-default" data-bind="click: function() { editBusStopCancelBtnClick(); }">ANULUJ</button>
    </div>
<!-- /ko -->

<!-- ko if: selectedView().name == 'DeleteBusStop' && selectedView().selectedTab() == 'USUWANIE PRZYSTANKU' -->
    <div id="deleteBusStop">
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: selectedBusStop().name" />

        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().latitude" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().longitude" />
                </td>
            </tr>
        </table>
        <p data-bind="text: 'Linie: ' + (selectedBusStop().getAllBusNumbers().join(', ') || '-')@*busLinesNumbersListForBusStop(selectedBusStop())*@"></p>

        <button class="btn btn-default" data-bind="click: function() { deleteBusStopDeleteBtnClick(); }">USUŃ</button>
        <button class="btn btn-default" data-bind="click: function() { deleteBusStopCancelBtnClick(); }">ANULUJ</button>
    </div>
<!-- /ko -->

<!-- ko if: selectedView().name == 'AddBusLine' && selectedView().selectedTab() == 'DODAWANIE LINII' -->
    <div id="addBusLine">
        <!-- ko if: !directions() -->
            <p>NUMER AUTOBUSU</p>
            <input class="form-control" data-bind="value: selectedBusLine().busNumber" type="text" />
            
            <div class="itemsList" data-bind="foreach: selectedBusLine().routes.toArray()">
                <div data-bind="click: function() { $root.selectedRoute($data); return true; }, css: { active: $root.selectedRoute() == $data }">
                    <div>
                        <input data-bind="checked: $root.selectedRoute() == $data, checkedValue: true" type="radio" />
                    </div>
                    <div>
                        <p>NOWA TRASA</p>
                        <!-- ko if: points.getFirst().busStop() && points.getLast().busStop() -->
                            <p data-bind="text: points.getFirst().busStop().name() + ' - ' + points.getLast().busStop().name(), visible: points.getFirst().busStop() && points.getLast().busStop()"></p>
                        <!-- /ko -->
                        <p data-bind="text: indexMark() + ' - ' + details(), visible: indexMark() && details()"></p>

                        <button class="btn btn-xs btn-default">USUŃ</button>
                    </div>
                </div>
            </div>
            <input class="btn btn-default" data-bind="click: function() { addBusLineAddRouteBtnClick(); }" type="button" value="NOWA TRASA" />
            
            <!-- ko if: selectedRoute() -->
                <div data-bind="foreach: selectedRoute().points.toArray()">
                    <!-- ko if: busStop() -->
                        <p data-bind="text: busStop().name()"></p>
                        <input data-bind="value: timeOffset" type="number" />
                    <!-- /ko -->
                </div>

                <ul class="dayOfWeek" data-bind="foreach: serverTime.daysOfWeek">
                    <li data-bind="css: { active: $data == $root.selectedDayOfWeek() }, click: function(data, event) { $root.selectedDayOfWeek($data); }, text: $data"></li>
                </ul>

                <table class="departureTimes" data-bind="foreach: selectedDepartureTimes()">
                    <tr @*data-bind="visible: $root.selectedDepartureTimes()[$index()].length > 0"*@>
                        <td>
                            <div data-bind="text: $index"></div>
                        </td>
                        <td data-bind="foreach: $root.selectedDepartureTimes()[$index()]">
                            <div>
                                <span data-bind="text: minutes < 10 ? '0' + minutes : minutes"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>GODZINY</p>
                <input class="form-control" data-bind="value: newDepartureTime.hours" type="number" />
                <p>MINUTY</p>
                <input class="form-control" data-bind="value: newDepartureTime.minutes" type="number" />
                <button class="btn btn-default" data-bind="click: function() { if (newDepartureTime.hours() >= 0 && newDepartureTime.hours() < 24 && newDepartureTime.minutes() >= 0 && newDepartureTime.minutes() < 24) { selectedRoute().departureTimes.add(new DepartureTime(selectedRoute(), 0, newDepartureTime.hours(), newDepartureTime.minutes(), selectedDayOfWeek())); newDepartureTime.hours(0); newDepartureTime.minutes(0); } }">DODAJ GODZINĘ ODJAZDU</button>
            <!-- /ko -->

            <input class="btn btn-default" data-bind="click: function() { addBusLineAddBtnClick(); }" type="button" value="DODAJ" />
            <input class="btn btn-default" data-bind="click: function() { addBusLineCancelBtnClick(); }" type="button" value="ANULUJ" />
        <!-- /ko -->
        <!-- ko if: directions() -->
            <p>Dodawanie nowej trasy za pomocą Google Maps Directions.</p>
            <input class="btn btn-default" data-bind="click: function() { addBusLineFinishAddingRouteBtnClick(); }, enable: directions().getPoints().length > 0" type="button" value="ZAKOŃCZ" />
            <input class="btn btn-default" data-bind="click: function() { addBusLineCancelAddingRouteBtnClick(); }" type="button" value="ANULUJ" />
        <!-- /ko -->
    </div>
<!-- /ko -->

<script>
window.onload = function()
{
    markerIcons = new MarkerIcons();
    serverTime = new ServerTime(@Model.ServerTimeMilliseconds);

    administrationContext = new AdministrationContext();
    ko.applyBindings(administrationContext);
}
</script>
