@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="busStopsList">
    <!-- ko if: isSelected -->
        <button class="btn btn-default" data-bind="click: function() { addBusStop(); }">DODAJ</button>
        <button class="btn btn-default" data-bind="click: function() { editBusStop(selectedBusStop()); }, enable: selectedBusStop">EDYTUJ</button>
        <button class="btn btn-default" data-bind="click: function() { deleteBusStop(selectedBusStop()); }, enable: selectedBusStop">USUŃ</button>
        <div class="itemsList" data-bind="foreach: busStops">
            <div data-bind="click: function() { $root.selectBusStop($data); }, css: { active: $root.selectedBusStop()  === $data }">
                <div>
                    <input data-bind="checked: $root.selectedBusStop() == $data, checkedValue: true" type="radio" />
                </div>
                <div>
                    <p data-bind="text: 'PRZYSTANEK ' + name()"></p>
                    <p data-bind="text: 'Pozycja: ' + position().lat() + ', ' + position().lng()"></p>
                    <p data-bind="text: 'Linie: ' + (busNumbers().join(', ') || '-')"></p>
                    <button class="btn btn-xs btn-default" data-bind="click: function() { $root.editBusStop($data); }">EDYTUJ</button>
                    <button class="btn btn-xs btn-default" data-bind="click: function() { $root.deleteBusStop($data); }">USUŃ</button>
                </div>
            </div>
        </div>
    <!-- /ko -->
</div>

<div id="busLinesList">
    <!-- ko if: isSelected -->
        <button class="btn btn-default" data-bind="click: function() { addBusLine(); }">DODAJ</button>
        <button class="btn btn-default" data-bind="click: function() { editBusLine(selectedBusLine()); }, enable: selectedBusLine">EDYTUJ</button>
        <button class="btn btn-default" data-bind="click: function() { deleteBusLine(selectedBusLine()); }">USUŃ</button>
        <div data-bind="foreach: busLines">
            <div>
                <p data-bind="text: 'LINIA ' + busNumber()"></p>
                <div class="itemsList" data-bind="foreach: $data.routes">
                    <div data-bind="click: function() { $root.selectRoute($data); }, css: { active: $root.selectedRoute() == $data }">
                        <div>
                            <input data-bind="checked: $root.selectedRoute() == $data, checkedValue: true" type="radio" />
                        </div>
                        <div>
                            <p data-bind="text: 'TRASA ' + points()[0].busStop().name() + ' - ' + points()[points().length - 1].busStop().name()"></p>
                            <p data-bind="text: indexMark() + ' - ' + details(), visible: indexMark() && details()"></p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-xs btn-default" data-bind="click: function() { $root.editBusLine($data); }">EDYTUJ</button>
                <button class="btn btn-xs btn-default" data-bind="click: function() { $root.deleteBusLine($data); }">USUŃ</button>
            </div>
        </div>
    <!-- /ko -->
</div>


<div id="addBusStop">
    <!-- ko if: isSelected -->
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: newBusStop().name" />
        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: newBusStop().position().lat()" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: newBusStop().position().lng()" />
                </td>
            </tr>
        </table>
        <button class="btn btn-default" data-bind="click: function() { finishAddingBusStop(); }">DODAJ</button>
        <button class="btn btn-default" data-bind="click: function() { cancelAddingBusStop(); }">ANULUJ</button>
    <!-- /ko -->
</div>


<div id="editBusStop">
    <!-- ko if: isSelected -->
        <p data-bind="text: 'PRZYSTANEK ' + editedBusStop().name()"></p>
    
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: editedBusStop().name" />

        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: editedBusStop().position().lat()" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: editedBusStop().position().lng()" />
                </td>
            </tr>
        </table>

        <button class="btn btn-default" data-bind="click: function() { finishEditingBusStop(); }">EDYTUJ</button>
        <button class="btn btn-default" data-bind="click: function() { cancelEditingBusStop(); }">ANULUJ</button>
    <!-- /ko -->
</div>

<div id="addBusLine">
    <!-- ko if: isSelected -->
        <!-- ko if: directions() -->
            <p>Dodawanie nowej trasy za pomocą Google Maps Directions.</p>
            <input class="btn btn-default" data-bind="click: function() { finishAddingRouteForNewBusLine(); }, enable: directions().points().length > 0" type="button" value="ZAKOŃCZ" />
            <input class="btn btn-default" data-bind="click: function() { cancelAddingRouteForNewBusLine(); }" type="button" value="ANULUJ" />
        <!-- /ko -->

        <!-- ko if: !directions() -->
            <p>NUMER AUTOBUSU</p>
            <input class="form-control" data-bind="value: newBusLine().busNumber" type="text" />

            <div class="itemsList" data-bind="foreach: newBusLine().routes">
                <div data-bind="click: function() { $root.selectRoute($data); }, css: { active: $root.selectedRoute() == $data }">
                    <div>
                        <input data-bind="checked: $root.selectedRoute() == $data, checkedValue: true" type="radio" />
                    </div>
                    <div>
                        <p>TRASA
                            <!-- ko if: points()[0].busStop() && points()[points().length - 1].busStop() -->
                                <span data-bind="text: points()[0].busStop().name() + ' - ' + points()[points().length - 1].busStop().name()"></span>
                            <!-- /ko -->
                        </p>
                        
                        <p>SYMBOL</p>
                        <input class="form-control" data-bind="value: indexMark" type="text" />
                        <p>OPIS</p>
                        <input class="form-control" data-bind="value: details" type="text" />

                        <button class="btn btn-xs btn-default" data-bind="click: function() { $root.deleteRouteOfNewBusLine($data); }">USUŃ</button>
                    </div>
                </div>
            </div>
            <input class="btn btn-default" data-bind="click: function() { addRoute(); }" type="button" value="NOWA TRASA" />

            <!-- ko if: selectedRoute() -->
                <div data-bind="foreach: selectedBusStops">
                    <p data-bind="text: name"></p>
                    <input class="form-control" data-bind="value: originalPoint.timeOffsetInMinutes" type="number" />
                </div>

                <ul class="dayOfWeek" data-bind="foreach: serverTime.daysOfWeek">
                    <li data-bind="css: { active: $data == $root.selectedDayOfWeek() }, click: function(data, event) { $root.selectedDayOfWeek($data); }, text: $data"></li>
                </ul>

                <table class="departureTimes" data-bind="foreach: departureTimesOfSelectedRoute">
                    <tr>
                        <td>
                            <div data-bind="text: $index"></div>
                        </td>
                        <td data-bind="foreach: $root.departureTimesOfSelectedRoute()[$index()]">
                            <div>
                                <span data-bind="text: minutes < 10 ? '0' + minutes : minutes"></span>
                                <span data-bind="click: function() { $root.removeDepartureTimeOfNewBusLine(originalDepartureTime); }, text: 'x'"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>GODZINY</p>
                <input class="form-control" data-bind="value: newDepartureTimeHours" type="number" />
                <p>MINUTY</p>
                <input class="form-control" data-bind="value: newDepartureTimeMinutes" type="number" />
                <button class="btn btn-default" data-bind="click: function() { addDepartureTimeForNewBusLine(); }">DODAJ GODZINĘ ODJAZDU</button>
            <!-- /ko -->

            <input class="btn btn-default" data-bind="click: function() { finishAddingBusLine(); }" type="button" value="DODAJ" />
            <input class="btn btn-default" data-bind="click: function() { cancelAddingBusLine(); }" type="button" value="ANULUJ" />
        <!-- /ko -->
    <!-- /ko -->
</div>

<div id="editBusLine">
    <!-- ko if: isSelected -->
        <!-- ko if: directions() -->
            <p>Dodawanie nowej trasy za pomocą Google Maps Directions.</p>
            <input class="btn btn-default" data-bind="click: function() { finishAddingRoute(); }, enable: directions().points().length > 0" type="button" value="ZAKOŃCZ" />
            <input class="btn btn-default" data-bind="click: function() { cancelAddingRoute(); }" type="button" value="ANULUJ" />
        <!-- /ko -->
        
        <!-- ko if: !directions() -->
            <p>NUMER AUTOBUSU</p>
            <input class="form-control" data-bind="value: editedBusLine().busNumber" type="text" />

            <div class="itemsList" data-bind="foreach: editedBusLine().routes">
                <div data-bind="click: function() { $root.selectRoute($data); }, css: { active: $root.selectedRoute() == $data }">
                    <div>
                        <input data-bind="checked: $root.selectedRoute() == $data, checkedValue: true" type="radio" />
                    </div>
                    <div>
                        <p>NOWA TRASA</p>
                        @*<!-- ko if: points.getFirst().busStop() && points.getLast().busStop() -->
                                <p data-bind="text: points.getFirst().busStop().name() + ' - ' + points.getLast().busStop().name(), visible: points.getFirst().busStop() && points.getLast().busStop()"></p>
                            <!-- /ko -->*@
                        <p data-bind="text: indexMark() + ' - ' + details(), visible: indexMark() && details()"></p>

                        <button class="btn btn-xs btn-default">USUŃ</button>
                    </div>
                </div>
            </div>
            <input class="btn btn-default" data-bind="click: function() { addRoute(); }" type="button" value="NOWA TRASA" />

            <!-- ko if: selectedRoute() -->
                <div data-bind="foreach: selectedBusStops">
                    <p data-bind="text: name"></p>
                    <input data-bind="value: originalPoint.timeOffsetInMinutes" type="number" />
                </div>



                <ul class="dayOfWeek" data-bind="foreach: serverTime.daysOfWeek">
                    <li data-bind="css: { active: $data == $root.selectedDayOfWeek() }, click: function(data, event) { $root.selectedDayOfWeek($data); }, text: $data"></li>
                </ul>

                <table class="departureTimes" data-bind="foreach: departureTimesOfSelectedRoute()">
                    <tr>
                        <td>
                            <div data-bind="text: $index"></div>
                        </td>
                        <td data-bind="foreach: $root.departureTimesOfSelectedRoute()[$index()]">
                            <div>
                                <span data-bind="text: minutes < 10 ? '0' + minutes : minutes"></span>
                                <span data-bind="click: function() { $root.removeDepartureTime(originalDepartureTime); }, text: 'x'"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>GODZINY</p>
                <input class="form-control" data-bind="value: newDepartureTimeHours" type="number" />
                <p>MINUTY</p>
                <input class="form-control" data-bind="value: newDepartureTimeMinutes" type="number" />
                <button class="btn btn-default" data-bind="click: function() { addDepartureTime(); }">DODAJ GODZINĘ ODJAZDU</button>
            <!-- /ko -->

            <input class="btn btn-default" data-bind="click: function() { finishEditingBusLine(); }" type="button" value="DODAJ" />
            <input class="btn btn-default" data-bind="click: function() { cancelEditingBusLine(); }" type="button" value="ANULUJ" />
        <!-- /ko -->
    <!-- /ko -->
</div>

<script>
    window.onload = function()
    {
        markerIcons = new MarkerIcons();
        serverTime = new ServerTime();

        //administrationContext = new AdministrationContext();
        //ko.applyBindings(administrationContext);
        var engine = new Engine(true);

        var busStopsListViewModel = new BusStopsListViewModel(engine);
        ko.applyBindings(busStopsListViewModel, document.getElementById('busStopsList'));

        var busLinesListViewModel = new BusLinesListViewModel(engine);
        ko.applyBindings(busLinesListViewModel, document.getElementById('busLinesList'));

        var addBusStopViewModel = new AddBusStopViewModel(engine);
        ko.applyBindings(addBusStopViewModel, document.getElementById('addBusStop'));

        var editBusStopViewModel = new EditBusStopViewModel(engine);
        ko.applyBindings(editBusStopViewModel, document.getElementById('editBusStop'));

        var addBusLineViewModel = new AddBusLineViewModel(engine);
        ko.applyBindings(addBusLineViewModel, document.getElementById('addBusLine'));

        var editBusLineViewModel = new EditBusLineViewModel(engine);
        ko.applyBindings(editBusLineViewModel, document.getElementById('editBusLine'));

        navigationViewModel = new NavigationViewModel();

        navigationViewModel.addViewGroup([busStopsListViewModel, busLinesListViewModel]);
        navigationViewModel.addViewGroup([addBusStopViewModel]);
        navigationViewModel.addViewGroup([editBusStopViewModel]);
        navigationViewModel.addViewGroup([addBusLineViewModel]);
        navigationViewModel.addViewGroup([editBusLineViewModel]);
        navigationViewModel.start();

        //navigationViewModel.addView('AddBusStop', ['DODAWANIE PRZYSTANKU']);
        //navigationViewModel.addView('EditBusStop', ['EDYTOWANIE PRZYSTANKU']);
        //navigationViewModel.addView('DeleteBusStop', ['USUWANIE PRZYSTANKU']);
        //navigationViewModel.addView('AddBusLine', ['DODAWANIE LINII']);
        //navigationViewModel.addView('EditBusLine', ['EDYTOWANIE LINII']);
        //navigationViewModel.addView('DeleteBusLine', ['USUWANIE LINII']);
        ko.applyBindings(navigationViewModel, document.getElementById('tabs'));

    
    }
</script>
